*{
    margin: 0;
    padding: 0;
    background-color: burlywood;
}

.bg{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.nav ul li::after{
    content: ''; 
    height: 3px;
    width: 0;
    background: brown;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.nav ul li:hover::after{
    width: 100%;
}

.nav{
    width: 84%;
    margin: auto;
    /* padding: 35px 0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.desc{
    width: 100%;
    margin-top: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
}

.container {
    display: flex;
    flex-direction: row;
}

.balance {
    display: flex;
    flex-direction: row;
}

.balance img {
    margin-left: 100px;
}

.overlay img {
    margin-left: 0px;
}

.desc h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 40px;
}
